@using System.ComponentModel
@using Core.Shared.Enums
@using Core.Shared.Helpers.Extensions
@using TrzyszczCMS.Client.ViewModels.PageContent.Modules
@using TrzyszczCMS.Client.Helpers
@inject NavigationManager NavigationManager


<div class="w-100 pb-3 mb-4 px-4 position-relative background-resized background-parallax" style="@ViewModel.BannerCssStyle">

    @if (ViewModel.ModuleContent.AttachLinkMenu && ViewModel.ModuleContent.MenuItems != null && ViewModel.ModuleContent.MenuItems.Count != 0)
    {
        <div class="position-absolute d-flex flex-wrap" style="top: 1.5vh; left: 10vw; opacity: 0.9; width: 80vw; background-color: #f9fafb;">

            @foreach (var menuItem in ViewModel.ModuleContent.MenuItems)
            {
                @if (menuItem.SubItems != null && menuItem.SubItems.Count != 0 && DisplaySelects)
                {
                    <select class="form-select menu-item-control menu-item-control-light" style="@CssStyleHelper.CssMenuItemWidth(menuItem.Name)" aria-label="@menuItem.Name"
                            @bind="@SubItemDestinationUri">
                        <option value="@DEFAULT_DROPDOWN_VALUE" disabled selected>@menuItem.Name</option>
                        @foreach (var subItem in menuItem.SubItems)
                        {
                            <option value="@subItem.Uri">@subItem.Name</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-light menu-item-control" href="@menuItem.Uri" style="@CssStyleHelper.CssMenuItemWidth(menuItem.Name)">
                        @menuItem.Name
                    </a>
                }
            }
        </div>
    }

    <div class="position-absolute" style="bottom: 10vh; left: 10vw; width: 80vw; text-shadow: 1px 1px 2px @ViewModel.ShadowColor;">
        <h1>@ViewModel.ModuleContent.Title</h1>
        <div>@DateAndAuthorInfo</div>
        @if (@ViewModel.ModuleContent.DisplayDescription && !string.IsNullOrEmpty(@ViewModel.ModuleContent.Description))
        {
            <div>@ViewModel.ModuleContent.Description</div>
        }
    </div>
</div>


@code {

    private const string DEFAULT_DROPDOWN_VALUE = "n/a";

    [Parameter]
    public HeadingBannerModuleViewModel ViewModel { get; set; }

    [Parameter]
    public PageType PageType { get; set; }

    private bool DisplaySelects;

    private string DateAndAuthorInfo
    {
        get
        {
            var isPost = this.PageType == PageType.Post;
            var hasAuthors = ViewModel.ModuleContent.DisplayAuthorsInfo && !string.IsNullOrEmpty(ViewModel.ModuleContent.AuthorsInfo);

            var text = new System.Text.StringBuilder();
            if (isPost)               { text.Append(ViewModel.ModuleContent.PublishUtcTimestamp.ToGenericNotation()); }
            if (isPost && hasAuthors) { text.Append(", "); }
            if (hasAuthors)           { text.Append("Authors: ").Append(ViewModel.ModuleContent.AuthorsInfo); }
            return text.ToString();
        }
    }

    private string _subItemDestinationUri;
    private string SubItemDestinationUri
    {
        get => this._subItemDestinationUri;
        set
        {
            if (value != DEFAULT_DROPDOWN_VALUE)
            {
                this.NavigationManager.NavigateTo(value);
                this._subItemDestinationUri = DEFAULT_DROPDOWN_VALUE;
            }
        }
    }

    protected override void OnInitialized()
    {
        this._subItemDestinationUri = null;
        this.ViewModel.PropertyChanged += new PropertyChangedEventHandler(
            async (s, e) => await this.InvokeAsync(() => this.StateHasChanged())
        );
        this.DisplaySelects = true;
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        this._subItemDestinationUri = DEFAULT_DROPDOWN_VALUE;
    }
}
