@page "/manage/change-own-password"
@layout ViewportMiddleYLayout

@using Client.Data
@using ViewModels.Administering

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ChangeOwnPasswordViewModel ViewModel

<AuthorizeView Context="AuthContext">
    <Authorized>
        <div class="container mx-auto w-100">
            <div class="row justify-content-center">
                <section class="card col-9 col-sm-6 col-lg-4 border-0">
                    <div class="card-header bg-transparent border-0 text-center">
                        <CmsLogo />
                    </div>
                    <div class="card-body bg-transparent">
                        <EditForm Model="@ViewModel" OnValidSubmit="@ViewModel.ChangePassword">
                            <div class="form-floating my-3">
                                <input id="oldPassword" type="password" class="form-control w-100" @bind="@ViewModel.OldPassword" />
                                <label for="oldPassword">Old password</label>
                            </div>
                            <div class="form-floating my-3">
                                <input id="newPassword" type="password" class="form-control w-100" @bind="@ViewModel.NewPassword" />
                                <label for="newPassword">New password</label>
                            </div>
                            <div class="form-floating my-3">
                                <input id="newPasswordRepeated" type="password" class="form-control w-100" @bind="@ViewModel.NewPasswordRepeated" />
                                <label for="newPasswordRepeated">Repeat new password</label>
                            </div>
                            <div class="my-3">
                                <button type="submit" class="form-control w-100 btn btn-danger">
                                    <i class="fas fa-passport" aria-hidden="true"></i>&nbsp;Change password
                                </button>
                            </div>
                            <div class="alert alert-danger my-3" role="alert"
                                 style="text-align:left; font-weight:bold; visibility: @(string.IsNullOrEmpty(@ViewModel.ErrorMessage) ? "collapse" : "visible");">
                                <span class="col-12">@ViewModel.ErrorMessage</span>
                            </div>
                        </EditForm>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <NavLink href="/manage/users">Back to users</NavLink>
                    </div>
                </section>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <ErrorPage />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        this.ViewModel.OnAfterSuccess += (s, e) =>
        {
            NavigationManager.NavigateTo(Constants.AFTER_SIGN_IN_IMMEDIATE_PAGE_URL);
            this.StateHasChanged();
        };
        base.OnInitialized();
    }
}
