@layout AdminLayout
@page "/manage/files"
@using Core.Shared.Enums;
@using Core.Shared.Helpers.Extensions
@using Core.Shared.Models
@using TrzyszczCMS.Client.Views.Shared.Grids
@using TrzyszczCMS.Client.ViewModels.Administering
@inject ManageFilesViewModel ViewModel




<nav class="d-flex">
    <div class="ms-auto">
        <div class="input-group input-group-sm">
            <button class="btn btn-primary btn-sm" @onclick="@ViewModel.ApplySearchAsync"><i class="fas fa-search"></i>&nbsp;Search</button>
            <button class="btn btn-primary btn-sm" @onclick="@CreateDirectory"><i class="fas fa-plus"></i>&nbsp;Add directory...</button>
            <button class="btn btn-primary btn-sm" @onclick="@ToggleFileUploadVisibility"><i class="fas fa-plus"></i>&nbsp;Add file...</button>
        </div>
    </div>
</nav>

<section class="my-2 @CssClassOfFileUploadVisibility">
    <div class="input-group input-group-sm">
        <InputFile class="form-control btn btn-light btn-sm border-1 border-primary" OnChange="@OnSelectedFiles" multiple />
        <button class="btn btn-primary btn-sm" disabled="@ViewModel.FilesForUploadUnset" @onclick="@ViewModel.UploadFilesAsync">
            <i class="fas fa-upload"></i>&nbsp;Upload now
        </button>
    </div>
</section>

<section>
    <Grid Items="ViewModel.Files" MultiSelect="false">
        <Header>
            <GridColHeader Title="Name" OnSearchTextChanged="@(e => ViewModel.OnSearch(e, FilteredGridField.ManageFiles_Name))" />
            <GridColHeader Title="Created" OnSearchDateChanged="@(e => ViewModel.OnSearch(e, FilteredGridField.ManageFiles_Created))"
                           SearchBoxType="SearchBoxType.DateInputs" />
            <GridColHeader Title="Access ID" SearchBoxType="SearchBoxType.None" />

            <GridColHeader Title="Actions" SearchBoxType="SearchBoxType.None" Width="200" />
        </Header>
        <RowTemplate Context="row">
            <td>
                @if (row.Data.IsDirectory)
                {
                    <span>
                        <i class="fas fa-folder"></i>&nbsp;
                        <a class="text-decoration-underline" role="button" @onclick="@(() => ViewModel.EnterDirectoryAsync(row.Data))" >@row.Data.Name</a>
                    </span>
                }
                else
                {
                    <span>
                        <i class="fas fa-file"></i>&nbsp;
                        <a href="@string.Format("/Storage/GetFile/{0}", row.Data.AccessGuid.ToString(CommonConstants.FILE_ACCESS_ID_FORMAT))">@row.Data.Name</a>
                    </span>
                }
            </td>
            <td>@row.Data.CreationUtcTimestamp.ToGenericNotation()</td>
            <td>@row.Data.AccessGuid.ToString(CommonConstants.FILE_ACCESS_ID_FORMAT)</td>
            <td>
                @if (row.Data.Name != "..")
                {
                    <button class="btn btn-sm btn-primary" @onclick="@(() => DeleteFile(row.Data))"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                } 
            </td>
        </RowTemplate>
        <NoRowsTemplate>
            No data loaded.
        </NoRowsTemplate>
    </Grid>
    <button class="btn btn-sm btn-primary w-100 @ViewModel.CssClassForLoadMoreFiles" @onclick="@ViewModel.FetchPageDataNextFiles">Load more</button>
</section>