@layout AdminLayout
@page "/manage/pages"
@using Core.Shared.Enums; 
@using Core.Shared.Models.ManagePage
@using TrzyszczCMS.Client.Views.Shared.Grids
@using TrzyszczCMS.Client.ViewModels.Administering
@using Core.Shared.Helpers.Extensions
@inject ManagePagesViewModel ViewModel

<nav class="d-flex">
    <div class="me-auto">
        <a class="nav-manage-link @PostsButtonLinkEnableClasses" @onclick="@DisplayPosts" role="button">Posts</a>
        <div class="inline-gapper-50"></div>
        <a class="nav-manage-link @ArticlesButtonLinkEnableClasses" @onclick="@DisplayArticles" role="button">Articles</a>
        <div class="inline-gapper-50"></div>
        <a class="nav-manage-link" @onclick="@GoToManagingHomepage" role="button">Homepage</a>
    </div>
    <div>
        <button class="btn btn-primary btn-sm"><i class="fas fa-minus"></i>&nbsp;Delete</button>
        <button class="btn btn-primary btn-sm" @onclick="@ApplySearchAsync"><i class="fas fa-search"></i>&nbsp;Search</button>
        <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;Create...</button>
    </div>
</nav>
<section>
    <div class="@(this.postsButtonEnabled ? "collapse" : string.Empty)">
        <Grid Items="ViewModel.Posts">
            <Header>
                <GridColHeader Title="Title" OnSearchTextChanged="@(e => ViewModel.OnPostsSearch(e, FilteredGridField.ManagePages_Posts_Title))" />
                <GridColHeader Title="Created" OnSearchDateChanged="@(e => ViewModel.OnPostsSearch(e, FilteredGridField.ManagePages_Posts_Created))"
                               SearchBoxType="SearchBoxType.DateInputs" />
                <GridColHeader Title="Published" OnSearchDateChanged="@(e => ViewModel.OnPostsSearch(e, FilteredGridField.ManagePages_Posts_Published))"
                               SearchBoxType="SearchBoxType.DateInputs" />
                <GridColHeader Title="Actions" SearchBoxType="SearchBoxType.None" />
            </Header>
            <RowTemplate Context="row">
                <td>@row.Data.Title</td>
                <td>@row.Data.CreateUtcTimestamp.ToGenericNotation()</td>
                <td>@row.Data.PublishUtcTimestamp.ToGenericNotation()</td>
                <td>Actions</td>
            </RowTemplate>
            <NoRowsTemplate>
                No data loaded.
            </NoRowsTemplate>
        </Grid>
    </div>
    <div class="@(this.articlesButtonEnabled ? "collapse" : string.Empty)">
        <Grid Items="ViewModel.Articles">
            <Header>
                <GridColHeader Title="Title" OnSearchTextChanged="@(e => ViewModel.OnArticlesSearch(e, FilteredGridField.ManagePages_Articles_Title))" />
                <GridColHeader Title="Created" OnSearchDateChanged="@(e => ViewModel.OnArticlesSearch(e, FilteredGridField.ManagePages_Articles_Created))"
                               SearchBoxType="SearchBoxType.DateInputs" />
                <GridColHeader Title="Published" OnSearchDateChanged="@(e => ViewModel.OnArticlesSearch(e, FilteredGridField.ManagePages_Articles_Published))"
                               SearchBoxType="SearchBoxType.DateInputs" />
                <GridColHeader Title="Actions" SearchBoxType="SearchBoxType.None" />
            </Header>
            <RowTemplate Context="row">
                <td>@row.Data.Title</td>
                <td>@row.Data.CreateUtcTimestamp.ToGenericNotation()</td>
                <td>@row.Data.PublishUtcTimestamp.ToGenericNotation()</td>
                <td>Actions</td>
            </RowTemplate>
            <NoRowsTemplate>
                No data loaded.
            </NoRowsTemplate>
        </Grid>
    </div>
</section>
