@layout AdminLayout
@page "/manage/users"

@using Core.Shared.Enums;
@using Core.Shared.Helpers.Extensions
@using Core.Shared.Models;
@using TrzyszczCMS.Client.Views.Shared.Accordion
@using TrzyszczCMS.Client.Views.Shared.Grids
@using TrzyszczCMS.Client.ViewModels.Administering
@inject ManageUsersViewModel ViewModel
@inject NavigationManager NavigationManager


<Accordion Id="MainAccordion">
    <Elements Context="actx">
        <AccordionElement Header="Users" ContentClass="@ACCORDION_CONTENT_CLASS" ParentAccordionId="actx.AccordionId" CollapseId="UserCollapse">
            <Content>
                <nav class="d-flex">
                    <div class="ms-auto">
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary btn-sm" @onclick="@ViewModel.LoadUsersWithFilter"><i class="fas fa-search"></i>&nbsp;Search</button>
                            <button class="btn btn-primary btn-sm" @onclick="@GoToCreatingUserAsync"><i class="fas fa-plus"></i>&nbsp;Create...</button>
                        </div>
                    </div>
                </nav>
                <section>
                    <Grid Items="ViewModel.Users" MultiSelect="false">
                        <Header>
                            <GridColHeader Title="User name" OnSearchTextChanged="@(e => ViewModel.OnUsersSearch(e, FilteredGridField.ManageUsers_UserName))" />
                            <GridColHeader Title="Description" OnSearchTextChanged="@(e => ViewModel.OnUsersSearch(e, FilteredGridField.ManageUsers_Description))" />
                            <GridColHeader Title="Role" OnSearchTextChanged="@(e => ViewModel.OnUsersSearch(e, FilteredGridField.ManageUsers_Role))" />
                            <GridColHeader Title="Actions" SearchBoxType="SearchBoxType.None" Width="200" />
                        </Header>
                        <RowTemplate Context="row">
                            <td>@row.Data.UserName</td>
                            <td>@row.Data.Description</td>
                            <td>@row.Data.AssignedRoleName</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => GoToManagingUserAsync(row.Data.Id))"><i class="fas fa-edit"></i>&nbsp;Edit</button>
                                    @if (row.Data.Id != CommonConstants.DEFAULT_ADMIN_ID)
                                    {
                                        <button class="btn btn-sm btn-primary" @onclick="@(() => DeleteUser(row.Data))"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                                    }
                                </div>
                            </td>
                        </RowTemplate>
                        <NoRowsTemplate>
                            No data loaded.
                        </NoRowsTemplate>
                    </Grid>
                </section>
            </Content>
        </AccordionElement>

        <AccordionElement Header="Your sessions" ContentClass="@ACCORDION_CONTENT_CLASS" ParentAccordionId="actx.AccordionId" CollapseId="SessionCollapse">
            <Content>
                <section>
                    <Grid Items="ViewModel.Tokens" MultiSelect="false">
                        <Header>
                            <GridColHeader Title="Created" SearchBoxType="SearchBoxType.None" />
                            <GridColHeader Title="Expiring" SearchBoxType="SearchBoxType.None" />
                            <GridColHeader Title="Actions" SearchBoxType="SearchBoxType.None" Width="200" />
                        </Header>
                        <RowTemplate Context="row">
                            <td>@row.Data.UtcCreateTime.ToGenericNotation()</td>
                            <td>@row.Data.UtcExpiryTime.ToGenericNotation()</td>
                            <td>
                                @if (row.Data.UsedForCurrentSession)
                                {
                                    <span>Current session</span>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => ViewModel.RevokeTokenAsync(row.Data.Id))"><i class="fas fa-trash"></i>&nbsp;Revoke</button>
                                }
                            </td>
                        </RowTemplate>
                        <NoRowsTemplate>
                            No data loaded.
                        </NoRowsTemplate>
                    </Grid>
                </section>
            </Content>
        </AccordionElement>
    </Elements>
</Accordion>