@using System.ComponentModel;
@using TrzyszczCMS.Core.Shared.Enums
@using TrzyszczCMS.Client.ViewModels.PageContent
@using TrzyszczCMS.Client.ViewModels.PageContent.Modules
@using TrzyszczCMS.Client.Views.PageContent.Modules

@inject ModularPageViewModel ViewModel
@*--- This is an empty layout for most of the website pages visible for any user ---*@

@if (!ViewModel.ContentFound.HasValue)
{
    <CenterSpinner />
}
else if (!ViewModel.ContentFound.Value)
{
    <ErrorPage />
}
else
{
    @foreach (var moduleVM in ViewModel.ViewModelsForModules)
    {
        if (moduleVM is TextWallModuleViewModel textWallVM)
        {
            <TextWallModule ViewModel="@textWallVM" />
        }
        else if (moduleVM is HeadingBannerModuleViewModel headingBannerVM)
        {
            <HeadingBannerModule ViewModel="@headingBannerVM" PageType="@PageType" />
        }
        else if (moduleVM is PostListingModuleViewModel postListingVM)
        {
            <PostListingModule ViewModel="@postListingVM" />
        }
        else
        {
            <section style="color: maroon;"><strong>Error:</strong> There is a content type <em>(@moduleVM.GetType().Name)</em> that cannot be displayed.</section>
        }
    }
    <CommonFooter />
}


@code {

    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public PageType PageType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.ViewModel.PropertyChanged += new PropertyChangedEventHandler(
            async (s, e) => await this.InvokeAsync(() => this.StateHasChanged())
        );
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await this.LoadPageContentAsync(this.PageType, this.PageName);
    }

    private async Task LoadPageContentAsync(PageType pageType, string pageName) =>
        await this.ViewModel.PrepareModules(pageType, pageName);

}
